[Desktop Entry]
Name=FlightCore
Comment=Mod-manager for Northstar
Exec=flightcore %U
Icon=flightcore
Terminal=false
Type=Application
Categories=Game;
